@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	-webkit-user-select:none;
	}
#id1{
	background:#f3f5f6;
	padding:10px 0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:25px;
	font-weight:bold;
	color:#000;
	text-align:center;
	border-bottom:1px solid #afb1b2;
	}
	
#id2{
	background:#f3f5f6;
	padding:6px 0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#1b7fb7;
	text-align:center;
}

